name: CI do Dashboard Docker
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
    - name: Copiar os arquivos
      uses: actions/checkout@v4
    - name: Construir Imagem Docker
      run: docker build . --file Dockerfile --tag dashboard-nginx:latest
